
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px soid black;
}
/* styles for the navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  font-size: 1rem;
  text-decoration: none;
  color: #333;
}

.buttons {
  display: flex;
  align-items: center;
}

.shadowed_btn{
  background-color: #1adfc4;
  color: #fff;
  padding: 8px 16px;
  border: none;
  margin-left: 10px;
  text-decoration: none;
  height: 2rem;
  text-align: center;
  box-shadow: 2px 2px 1px #333;
}
 i{
  width: 10px;
  height: 20px;
}

.shadowed_btn:hover,
.shadowed_btn:hover {
  background-color: #222;
  cursor: pointer;
}
/* nav styles end */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.left {
  margin-left: 10px;
  text-align: center;
  flex-basis: 50%;
}
.left h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
  
}

 p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.left .shadowed_btn{
  margin-left: 0;
  margin-bottom: 2rem;
}
.right {
  text-align: center;
  flex-basis: 50%;
}





.right img {
  border-radius: 10px;
  max-width: 80%;
  height: auto;
  box-shadow: 4px 4px 1px #333;
}



.values_container {
  display: flex;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.values {
  width: 100%;
  display: flex;
}
.values p{
  text-align: center;
}

.columns {
  flex-basis: calc(100% / 3);
  text-align: center;
}

.columns h1 {
  font-size: 2rem;

}

.columns p {
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}

.how_it_works{
  padding: 0 0px;
  overflow-x: auto;
  width: 100vw;
}
.how_it_works h1{
  display: flex;
  z-index: 1;
  text-transform: capitalize;
}
.cards{
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  scroll-snap-align: always;
  
}
.card{
  border-radius: 10px;
  width: 25%;
  text-align: center;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.card 
.card svg{
  width: 1rem;
  border-radius: 50px;
}

.container {
  
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left_side{
  padding: 20px;
  display: flex;
  height: auto;
  width: 100%;
  height: 100%;
}
.left_side .shadowed_btn{
  width: 10rem;
  height:2rem;
  margin-left: 0;
}
.left_side h3{
  text-transform: capitalize;
}
.image-container {
  height: 100%;
  width: 33rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: .5rem;
}

.image-1 {
  background-image: url(/pexels-julia-m-cameron-4143800.jpg);
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 20.5rem;
  grid-column: 1/3;
  grid-row: 1/3;
  margin: 0;
}
.image-2,.image-3 {
  background-image: url(/pexels-julia-m-cameron-4143800.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 10rem;
  height: auto;
  margin: 0;
  padding: 0;
}

.see-more {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.bottom_part{
  display: flex;
  flex-direction: column;
}
.services{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.service{
  display: flex;
  align-items: start;
  justify-content: left;
  flex-direction: row;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  height: ;
  width: 200%;
  margin-left: 0;
  padding: 0 .75rem;
  
}
.service h5{
  font-size: 1rem;
  position: relative;
  
}
.service p{
  text-align: start ;
}
.service:nth-child(1){
  background-color: #0e0d0d;
  color: #f3e8e8;
}
.service:nth-child(2){
  background-color:  #222;;
}
.service:nth-child(3){
  background-color: #222;
}
.service:nth-child(4){
  background-color: #222;
}
.service:nth-child(5){
  background-color:#222 ;
}
.service:nth-child(6){
  background-color: #222;
}
.service:nth-child(7){
  background-color: #222;
}

.reviews_cont{
  display: flex;
  justify-content: space-between;
}
.reviews{
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}
.review:not(svg){
  width: 25rem;
  height: auto;
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin-right: 1rem;
  box-shadow: 4px 3px 1px #333;
  background-color: #2d4946;

}
.review:nth-child(4){
  display: none;
}
.reviews svg{
  fill: #1adfc4;
  width: 1rem;
  margin: 1rem 0;
}
.review img{
  height: 5rem;
  width:5rem;
  border-radius: 100px;

}
footer{
  padding: 20px;
}
.footer_links{
  display: flex;
  padding: 20px;
}
.subscribe{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.subscribe input{
  height: 2rem;
  width: 15rem;
  margin-right: 0;
}
input::placeholder{
  text-transform: capitalize;
  padding: 10px;
  text-align: start;
}
.subscribe button{
  border-radius: 0;
  box-shadow: 2px 2px 1px #333;
  margin-left: -.1rem;
}

/* sm screen styles */



@media only screen and (max-width: 608px){
  /* sm screen nav */
  nav{
    width: 100%;
    margin: 0;
  }
  menu{
    align-items: center;
    justify-content: center;
  }
  .menu ul{
    position: absolute;
    width: 100%;
    height: rem;
    left: 0;
    top: 0;
    margin-top: -1500px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(127, 255, 240);
    transition: 1s ease-in-out;
    
  }
  nav button{
    background-color:rgba(255, 255, 255, 0.158) ;
    border: none;
    cursor: pointer;
    position: relative;
    top: .15rem;
  }
  .links.drop{
    margin: 0;
  }
  .buttons{
    position: relative;
    right: -8%;

  }
  
  svg{
    width: 2rem;
    
  }
  .container{
    flex-direction: column;
    padding: 25px;
  }
  .left{
    text-align: left;
  }

  img {
    /* border-radius: 5px; */
    margin-top: 1rem;
    max-width: 80%;
    height: auto;
    /* box-shadow: 4px 4px 1px #333; */
  }
  .how_it_works{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-type: touch;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  .cards{
    display: flex;
    width: 1200px;
  }
  .card{
    margin-left: 2rem;
    border-radius: 10px;
    width: 40%;
    
  }
  .how_it_works h1{
    position: relative;
    left: 2rem;
  }
  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    
  }
  .left_side{
    flex-direction: column;
    order: 2;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .left_side a{
    width: auto; 
  }
  .image-container {
    order: 3;
    width: 100%;
    padding: 20px;
  }
  
  .image-1 {
    width: 100%;
  }
  .image-2,.image-3 {
  }
  .bottom_part{
    display: flex;
    flex-direction: column;
    padding: 20px;
    order: 1;
  }
  .services{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service{
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    line-height: 1.5;
  }
  .bottom_part h2{
    text-align: start;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  .reviews_cont{
    margin-left: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-type: touch;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  .reviews{
    display: flex;
    flex-direction: row;
  }
  .review{
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px;
    width: 20rem;
    height: auto;
    text-align: center;
    justify-content: center;
  }
  .review:nth-child(4){
    display: block;
  }
}